@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    

}
#card{
    height: 450px;
    width: 350px;
    background-color: #fff;
    padding: 30px;

}

#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 30px;
    margin: 5px 0;
    text-align: center;
}

#card h5{
    font-size: 25px;
    text-align: center;
    color: red;
    margin: 10px;
}

#btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#add{
    background-color: #1877F2;
    color: #fff;
    padding: 12px 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

